<br />
<br /><br />
<div class="row">
   <form id="form">

       <div class="col-lg-6">
           <h2>Notification</h2>
           <div class="form-group">
               <label for="Title">Title</label>
               <input type="text" class="form-control" id="Title" name="Title" placeholder="Title">
           </div>

           <div class="form-group">
               <label for="Content">Content</label>
               <textarea class="form-control" id="Content" name="Content" placeholder="Content"></textarea>
           </div>
       </div>

       <div class="col-lg-6">
           <h2>Settings</h2>
           <div class="form-group">
               <label for="Url">Url</label>
               <input type="text" class="form-control" id="Url" name="Url" placeholder="Url">
           </div>

           <div class="form-group">
               <label for="Segment">Segments</label>
               <select name="Segment" id="Segment" class="form-control">
                   <option value="All">All</option>
                   <option value="Student">Student</option>
                   <option value="Lecturer">Lecturer</option>
               </select>
           </div>

           <div class="form-group">
               <label for="Type">Type</label>
               <select class="form-control" name="Type" id="Type">
                   <option value="General">General</option>
                   <option value="Activity">Activity</option>
               </select>
           </div>

           <div class="form-group">
               <input type="button" class="btn btn-default" id="Sumbit" value="Sumbit" />
           </div>
       </div>

   </form>
</div>
